
/**********************************************
 ANSI2HTML
**********************************************/
{{ get_ansi_styles(dark_bg=False)|join|safe }}


/**********************************************
 BASE
**********************************************/

html {
    font-family: "Dia", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    padding: 0;
}

@media only screen {
    body {
        background-color: #f3f3f3;
        color: #222222;
    }
}

section {
    padding: 0 0.75rem;
}

h1 {
    display: none;
}

pre {
    overflow-x: auto;
    background-color: #f3f3f3;
    font-size: 87.5%;
    padding: 0.75rem;
    margin: 0.75rem 0;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
}

samp {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
    samp {
        white-space: normal;
        word-wrap: normal;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen {
    .container {
        margin: 0 2%;
    }
}

.badge {
    font-size: 85%;
    text-align: center;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    border: 1px solid black;
}

@media only screen {
    .box {
        background-color: white;
        color: black;
        border-radius: 4px;
        box-shadow: 0 1px 2px #afafaf;
    }

    .badge {
        background-color: #78909C;
        color: white;
        border: 0;
    }

    {% for category, (bg, fg) in colors.items() %}
    .status.{{ category }} {
        background-color: {% if category == 'rerun' %}#FBC02D{% else %}{{ bg }}{% endif %};
        color: {{ fg }};
    }
    {% endfor %}
}

details > summary {
    display: block;
    cursor: pointer;
    list-style: none;
    border-radius: 4px;
}
details[open] > summary {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

details > summary:focus {
    outline: 0;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary > ::before {
    content: " ";
    background-image: url("{{ 'html1/icons/arrow.svg'|asset }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    justify-self: end;
    /* transform: rotate(0deg); */
    transition: transform ease-out 0.2s;
}

details[open] > summary > .title::before {
    transform: rotate(90deg);
}

details[open] > summary > .customTitle::before {
    transform: rotate(90deg);
}

.title, .customTitle {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.customTitle::before{
    margin: 0 0.3rem 0 0;
}

.duration {
    display: none;
    font-size: 0.875em;
    font-weight: normal;
    color: #888888;
}


/**********************************************
 HEADER
**********************************************/
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 0 2%;
    align-items: center;
}

header {
    background: #fafafa;
    color: #ff9f1c;
    padding: 0.5rem 0;
    border-bottom: #ff9f1c 1px solid;
    margin-bottom: 1rem;

}

.header-logo{
    width: 8.5rem;
}

.report-title {
    font-weight: bold;
    font-size: 2rem;
}


/**********************************************
 SUMMARY
**********************************************/

@media only screen and (min-width: 1024px) {
    #summary > .container {
        display: flex;
        justify-content: space-between;
    }
}

.metadata th, .metadata td {
    padding: 0.2rem;
    vertical-align: top;
    text-align: left;
}

.metadata th {
    font-weight: bold;
    padding-right: 0.75rem;
}

.metadata td {
    word-break: break-all;
}

.testIcon{
    width: fit-content;
}

.graph {
    display: grid;
    grid-gap: 0.75rem;
    align-items: center;
    justify-content: center;
}

.graph svg {
    width: 100%;
    height: auto;
}

.graph svg text {
    font-size: 10px;
    fill: #444444;
}

.legend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.3rem;
    align-items: center;
}


/**********************************************
 WARNINGS
**********************************************/

#warnings > .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.75rem;
    align-items: start;
}


/**********************************************
 MODULES
**********************************************/

.file-title {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-gap: 0.75rem;
    align-items: center;
}

.file > summary {
    padding: 0.4rem 0.5rem;
    border: 1px solid transparent;
}

.file > summary:hover {
    background-color: rgba(200, 200, 200, 0.2);
    border: 1px solid #FB7500;
}

.file > .content {
    margin-bottom: 0.75rem;
}

@media only print {
    .file > .title {
        border-bottom: 1px solid gray;
    }
}

.fspath {
    margin: 0;
    font-size: 1.125em;
    word-break: break-all;
}

.counts {
    white-space: nowrap;
}

.counts > span {
    display: inline-block;
    margin-right: 5px;
}


/**********************************************
 TESTS
**********************************************/

.test > summary {
    position: sticky;
    top: 0;
    z-index: 100000;
    /* border-radius: 0; */
    padding: 0.5rem;
    padding-left: 0.75rem;
    background-color: #ffffff;
}

.test > summary:hover {
    background-color: #f6f6f6;
}

.test:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
}

.test > .content {
    padding: 0.75rem;
}

.status {
    font-weight: bold;
}

.test-title {
    display: flex;
    padding: 0 0.5rem;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (min-width: 500px) {
    .duration {
        display: inline-block;
    }
}

.test-name {
    width: 100%;
    font-size: 1em;
    margin: 0;
    word-break: break-all;
}

.test-name > .params {
    font-weight: normal;
}

.documentation p {
    margin-top: 0;
    margin-bottom: 1em;
}

.marker {
    display: inline-block;
    color: #5e5e5e;
    margin: 0 0.2rem 0.2rem 0;
}

.fixturename {
    margin: 0 0.2rem 0.2rem 0;
}

td > pre {
    margin: 0;
}

.extra img,
.extra video {
    max-height: 300px;
}

.extra pre {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
}


/**********************************************
 TEST PHASES
**********************************************/

.test-phases {
    border-left: 2px solid #dddddd;
    margin-left: 0.75rem;
}

.phase {
    position: relative;
    padding-left: 0.9rem;
    margin-bottom: 0;
    border-radius: 0;
}

.phase > summary {
    padding: 0.4rem;
    margin: 0.5rem 0;
}

.phase > summary:hover {
    border: 1px solid #FB7500;
}

.phase .status {
    position: absolute;
    display: inline-block;
    left: -1px;
    margin-top: -0.4rem;
    padding: 0;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 500%;
    border: 3px solid white;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.phase .status.passed,
.phase .status.xfailed {
    background-image: url("{{ 'html1/icons/ok.svg'|asset }}");
}

.phase .status.failed,
.phase .status.error,
.phase .status.xpassed,
.phase .status.skipped,
.phase .status.rerun {
    background-image: url("{{ 'html1/icons/nok.svg'|asset }}");
}

.phase .status.skipped {
    background-image: url("{{ 'html1/icons/skip.svg'|asset }}");
}

.phase-name {
    /* margin-left: 1rem; */
    display: inline-block;
    font-size: 1em;
    margin: 0;
}

.section-title {
    font-size: 1em;
    font-weight: normal;
    margin: 1em 0 0 0;
    padding: 0;
}


/**********************************************
 FOOTER
**********************************************/

footer {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-style: italic;
    color: #999999;
    text-align: right;
}


.table_var{
    table-layout: fixed;
    width: 100%;  
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.td_var, .th_var{
    text-align: left;
    padding: 8px;
    line-break: anywhere;
}

.td_var{
    border-bottom: 1px solid #dddddd;
}

.td_var:nth-child(even){
    border-left: 1px solid #dddddd;
}

.th_var{
    background-color: #f3f3f3;
    border-bottom: 1px solid white;
    color: #222222;
    border-left: 2px solid white;
}

.th_var:nth-child(even){
    border-left: 1px solid white
}

/*****************************Pie******************/

@keyframes bake-pie{
  from{
    transform: rotate(0deg) translate3d(0,0,0)
  }
}
  
.pie-chart{
  font-family: "Open Sans", Arial
}

.pie-chart--wrapper{
width: 400px;
margin: 30px auto;
    text-align: center;
}

.pie-chart__pie, .pie-chat__legend{
display: inline-block;
vertical-align: top
}


.pie-chart__pie{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px auto 35px;
}
.pie-chart__pie &::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.pie-chart__pie &::after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
    margin: 220px auto;
}
.slice{
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}
.slice >  span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}
.pie-chart__legend{
    display: block;
    list-style-type: none;
    margin: 0 auto;
    background: #FFF;
    padding: 0.75em 0.75em 0.05em;
    font-size: 13px;
    text-align: left;
    width: 50%;
    border: 1px solid #ff9f1c;
    border-radius: 10px;
}
.pie-chart__legend >  li{
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}
.pie-chart__legend > em{
    font-style: normal
}
.pie-chart__legend >  span{
    float: right
}

.testMetadata{
    padding: 0 2rem;
}

.testMetadata tr{
    display: flex;
    gap: 1rem;
    border-radius: 8px;
    padding: 0.5rem 0;
    flex-direction: row;
}

.documentation{
    display: flex;
    border-radius: 8px;
    background: #ff9f1c;
    font-weight: 700;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #ff9f1c;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
}