.subHeaderMenu{
  display: flex;
  background-color: #919191;
  position: relative;
  color:black;
  justify-content: space-between;
  border-bottom: solid 1px #e0e0e0;
  align-items: center;
  height: 8vh;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
}

.fixedToTop {
  position: fixed;
  top: 0;
  width: 100%;
}

.subHeaderButtons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.subHeaderButtonLink{
  color:white;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  font-family:'Times New Roman', Times, serif
}

table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

h2 {
  text-align: center;
}

li {
  margin-bottom: 1rem;
}

td {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  font-size: 13px;
}

th {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  background-color: #aaaaaa;
}

.glossaryContainer {
  margin: 3rem;
  width: 75%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.1)
}

span{
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.generalInfo{
  padding-bottom: 2rem;
}

.statementGroup{
  scroll-margin-top: 10.5rem;
}

@media (max-width: 768px) {
  .subHeaderButtonLink{
    font-size: 1.1rem;
  }

  .glossaryContainer{
    font-size: 0.8rem;
  }

  td {
    font-size: 8px;
  }

  h1{
    font-size: 2.0rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1.1rem;
  }

  span{
    font-size: 0.9rem;
  }
}

@media (max-width: 580px) {
  .subHeaderButtonLink{
    font-size: 0.8rem;
  }

  td {
    font-size: 5px;
  }
}

@media (max-width: 550px) {
  .subHeaderButtonLink{
    font-size: 0.6rem;
  }

  .glossaryContainer{
    font-size: 0.5rem;
  }

  h1{
    font-size: 1.7rem;
  }

  h2{
    font-size: 1.2rem;
  }

  h3{
    font-size: 0.8rem;
  }

  span{
    font-size: 0.6rem;
  }
}